test_json/
*.ipynb_checkpoints
__pycache__
*.pkl
*.png
result_jsons/
minnie_meshes/
mesh_comparisons/
flywire_result_jsons/
phase2_result_jsons/
pinky_result_json/
pinky_result_json_v2/
minniephase3-skeletons/
minniephase2-skeletons/
nuc_svids/
test_json/
v1dd_nuc_mask/
v1dd_superficial_column_cells/
*.ipynb
*.ai
*.zip
*.json
*.csv
nuc_merge_phase3_v2_results/
nuc_merge_phase3_v3_results/