minniephase2-skeletons/
minniephase3-skeletons/
nuc_svids/
phase2_result_jsons/
pinky_result_jsons/
pinky_result_jsons_v2/
test_json/
result_jsons/
.vscode
.ipynb_checkpoints
__pycache__
mesh_comparisons
minnie_meshes
allen_token.json
*.pkl
*.csv
*.png
Untitled*.ipynb
*.ai
token.pickle
.DS_Store
credentials.json
flywire_result_jsons/
pinky_result_jsons/
pinky_result_jsons_v1/
result_jsons/
nuc_svids/
v1dd_test_json/
v1dd_test_json_2/
minniev1-soma-region-nov21/
minniev117-cell-frac/