.vscode
.ipynb_checkpoints
__pycache__
mesh_comparisons
minnie_meshes
allen_token.json
*.pkl
*.csv
*.png
Untitled*.ipynb
*.ai
token.pickle
.DS_Store
credentials.json
results/
minniev1-**/*
inh_ct_character**/*
minniephase3-**/*
pinky-nuc-adj**/*
v1dd-nuc-adj**/*
soma_soma_**/*
